@import '../node_modules/antd/dist/antd.css';

@border-radius-base: 0;

.marker {
  background-color: #bff;
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.row {
  display: flex;
  line-height: 18px;
  padding-left: 6px;
}

.row#desc {
  justify-content: space-between;
}

.name {
  width: 50%;
  font-size: 16px;
  padding-bottom: 2px;
  padding-left: 0;
}

.qual {
  font-size: 14px;
  width: 50%;
}

.info {
  font-size: 13px;
}

.phone {
  font-size: 14px;
}

.orgname {
  width: 100%;
  font-size: 16px;
  padding-bottom: 2px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  width: 100%;
  padding: 0;
}

.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
  padding-left: 0;
}

.ant-list-lg .ant-list-item {
  padding: 8px 6px;
}
