@import '../node_modules/antd/dist/antd.css';

.hidden {
  display: none;
}

.content {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 1rem;
}

.container {
  display: flex;
}

.name {
  width: 40%;
}

.qual {
  width: 50%;
}

.det {
  width: 10%;
}

